$bp-1: 500px;
$bp-2: 800px;
$bp-3: 900px;
$bp-4: 1200px;

.header {
  position: relative;

  & .img__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__background {
    width: 100%;
  }

  & .img__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.65);
  }

  &__boxRow {
    padding: 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

    @media screen and (min-width: $bp-1) {
      padding: 5rem 3rem;
    }

    @media screen and (min-width: $bp-2) {
      padding: 7.5rem 10rem;
    }

    @media screen and (min-width: $bp-3) {
      padding: 10rem 10rem;
    }

    @media screen and (min-width: $bp-4) {
      padding: 10rem 15rem;
    }
  }

  &__boxColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media screen and (min-width: $bp-2) {
      gap: 2.5rem;
    }

    @media screen and (min-width: $bp-3) {
      width: 50%;
    }
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;

    @media screen and (min-width: $bp-1) {
      font-size: 4rem;
    }

    @media screen and (min-width: $bp-2) {
      font-size: 4.5rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(#fff, 0.95);
    letter-spacing: 1px;

    @media screen and (min-width: $bp-1) {
      font-size: 1.75rem;
    }

    @media screen and (min-width: $bp-2) {
      font-size: 2rem;
    }

    @media screen and (min-width: $bp-3) {
      font-size: 2.25rem;
    }
  }

  &__btn {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    background-color: #ffc107;
    transition: all 0.15s;
    padding: 1rem 10rem;
    border-radius: 3px;
    align-self: flex-start;
    cursor: pointer;

    @media screen and (min-width: $bp-1) {
      font-size: 1.75rem;
    }

    &:hover {
      letter-spacing: 1px;
    }

    &:active {
      letter-spacing: 0.5px;
    }
  }

  &__img {
    display: none;
    width: 50%;
    max-width: 30rem;
    border-radius: 7.5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    @media screen and (min-width: $bp-3) {
      display: block;
      max-width: 25rem;
    }

    @media screen and (min-width: $bp-4) {
      max-width: 30rem;
    }
  }
}

.PicturesBox {
  margin-top: 5rem;
  padding: 0 3rem;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
  }

  &__btn {
    font-size: 1.75rem;
    font-weight: 500;
    color: #fff;
    background-color: #ffc107;
    transition: all 0.15s;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 3px;

    &:hover {
      letter-spacing: 1px;
    }

    &:active {
      letter-spacing: 0.5px;
    }
  }
}

.pictures {
  margin-top: 2rem;
}

.picture {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  cursor: pointer;

  &:hover &__img {
    transform: scale(1.025);
  }

  &:active &__img {
    transform: scale(1);
  }

  &__img {
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.15s;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 500;
    color: #fff;
  }

  &__rate {
    position: absolute;
    top: 1.1rem;
    right: -3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    background-color: #ffc107;
    padding: 0.25rem 5rem;
    transform: rotate(50deg);
  }
}
