@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$bp-1: 500px;
$bp-2: 800px;
$bp-4: 1200px;

html {
  font-size: 62.5%;
  font-family: 'Varela Round', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
}

body {
  background-color: #0f0f0f;
  min-height: 100vh;
  position: relative;
}

button,
a {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#0f0f0f, 1);
  border-bottom: 1px solid rgba(#fff, 0.25);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;

  @media screen and (min-width: $bp-1) {
    padding: 1.5rem 4rem;
  }

  @media screen and (min-width: $bp-2) {
    padding: 1.5rem 10rem;
  }

  @media screen and (min-width: $bp-4) {
    padding: 1.5rem 15rem;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;

    @media screen and (min-width: $bp-1) {
      font-size: 2.5rem;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    @media screen and (min-width: $bp-1) {
      gap: 1.5rem;
    }

    @media screen and (min-width: $bp-2) {
      gap: 2rem;
    }
  }

  &__link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.15s;
    border-bottom: 2px solid transparent;

    @media screen and (min-width: $bp-1) {
      font-size: 1.75rem;
    }
  }
}

.navSmall {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#0f0f0f, 1);
  border-bottom: 1px solid rgba(#fff, 0.25);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;

  @media screen and (min-width: $bp-1) {
    padding: 1rem 4rem;
  }

  @media screen and (min-width: $bp-2) {
    padding: 1rem 10rem;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;

    @media screen and (min-width: $bp-1) {
      font-size: 2.5rem;
    }
  }

  &__open {
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
  }

  &__model {
    background-color: #0f0f0f;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.1rem;
    height: 100%;
    width: 100%;
    z-index: 55555;
  }

  &__link {
    width: min-content;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.15s;
    border-bottom: 2px solid transparent;

    @media screen and (min-width: $bp-1) {
      font-size: 3rem;
    }
  }

  &__close {
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 3.5rem;
    color: #ffc107;
    cursor: pointer;

    @media screen and (min-width: $bp-1) {
      right: 4rem;
    }

    @media screen and (min-width: $bp-2) {
      right: 10rem;
    }
  }
}

.selected {
  border-radius: 2px !important;
  border-bottom: 2px solid #ffc107 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(#fff, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.25);
}

.hide {
  opacity: 0 !important;
  position: absolute !important;
}

.margin-top-bottom-2-5 {
  margin: 2.5rem 0;
}

.margin-top-bottom-10 {
  margin: 10rem 0 !important;
}

.margin-top-bottom-23 {
  margin: 22.99999rem 0 !important;
}

.margin-all-30 {
  margin: 30rem 0 !important;
}

.margin-all-10 {
  margin: 10rem;
}

.flex-1 {
  flex: 1;
}

.spinnerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-hourglass {
  align-self: center;
  justify-self: center;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #ffc107;
  border-color: #ffc107 transparent #ffc107 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
